<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-16" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>votando.co</title>
    <link rel="stylesheet" href="../css/estilos-0.css"/>
    <link rel="stylesheet" href="../css/estilos-1.css"/>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <a href="./index.html">
      <img src="../img/LOGO.svg"/>
    </a>

    <div class="botonesSuperiores">
      <a href="./iniciarSesion.html" >Iniciar sesión</a>
    </div>

    <div id="app">
      <!-- <ul>
        <li v-for="movie in user.movies">{{movie}}</li>
      </ul> -->

      <!-- <h1 v-if="user.age <= 0 || user.age > 110" class="rango_e">
        Tu edad está fuera de rango, por favor, corregir
      </h1>

      <h1 v-else-if="user.age >= 18" class="good">Eres mayor de edad</h1>
      <h1 v-else class="error">Eres menor de edad</h1> -->

      <!-- <h1 :class="user.classValue">
            {{user.age >= 18 ? user.classValue = "good" : user.classValue = "error"}}
            {{user.title}}
        </h1> -->

      <!-- <h1>{{user.title}}</h1>
      <h2>{{user.age < 18 ? "No puedes pasar" : "Puedes pasar"}}</h2>
      <hr />
      <a v-bind:href="user.url" target="_blank">Google</a>
      <hr />
      <img :src="user.urlimg1" width="400" /> -->
    </div>
    <div class="contenedor">
      <h3>
        Bienvenid@
      </h2>
    </div>
    <div class="contenedor">
      <h2>Crear cuenta</h2>
      <form id="forma" name="forma">
        <div class="elemento">
          <label for="NombreCompleto">Nombre completo</label>
          <input
            type="text"
            id="NombreCompleto"
            name="NombreCompleto"
            required="true"
          />
        </div>
        <div class="elemento">
          <label for="NombreDeUsuario">Nombre de usuario nuevo</label>
          <input
            type="text"
            id="NombreDeUsuario"
            name="NombreDeUsuario"
            required="true"
          />
        </div>
        <div class="elemento">
          <label for="CorreoElectronico">Correo electrónico</label>
          <input
            type="text"
            id="CorreoElectronico"
            name="CorreoElectronico"
            required="true"
          />
        </div>
        <div class="elemento">
          <label for="password">Contraseña nueva</label>
          <input
            type="password"
            id="password"
            name="password"
            required="true"
          />
        </div>
        <div class="elemento">
          <label for="password">Vuelva a escribir la contraseña</label>
          <input
            type="password"
            id="password"
            name="password"
            required="true"
          />
        </div>
        <input type="checkbox" id="terminos" name="terminos" value="terminos" required="true"/>
        <label class="terminos" for="terminos">Acepto los <a href="./Terminos.html">Términos y Condiciones</a> </label>
        <label style="color: rgba(0, 0, 0, 0); font-size: 30px;">texto transparente</label>
        <div class="relativo">
          <div class="boton">
            <input type="submit" value="Crear" />
          </div>
        </div>
        <label style="color: rgba(0, 0, 0, 0); font-size: 40px;">texto transparente</label>
        
      </form>
    </div>

    
    <footer>
      <h2>
          <a href="./index.html">
              votando.co
          </a>
      </h2>
    </footer>
    <script src="../js/main.js"></script>
    <script>
      const mountApp = app.mount("#app");
    </script>

  </body>
</html>
